{% extends './base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Про мене</title>
    {% endblock %}
</head>
<body>
    {% block content %}
        <h1 class="about-h1">Історія мого шляху</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="about-p">
                        Вітаю, Я Ярослава Тимченко - магістр психології. Член НАДТУ (Національної асоціації гештальт терапевтів України).

                        <br>У терапії, тренінгах та консультуванні я більше 8 років, до цього я працювала у фінансовій сфері та у сфері продажів.
                        <br>Маю вищу економічну та вищу психологічну освіту.
                        <br>До вивчення психології я прийшла з чітким розумінням того, що я успішна, коли допомагаю іншим.
                        <br>Я навчилася розуміти і розрізняти, що для мене є цінним і важливим.
                        <br>Навчилася відпускати те, що вже втратило актуальність, і вибирати те, до чого тягнеться моя душа і те, чого хоче моє серце, а ще я навчилася вибирати себе, бо дуже старанно працювала над своєю самооцінкою.
                        <br>І сьогодні я допомагаю впоратися з різними проблемами та складнощами своїм клієнтам.
                        <br>У 2015 року я переїхала з Луганської області, в якій у мене залишився новий будинок.  
                        <br>Я не з чуток знаю всі тягарі, які пов'язані, з вимушеним переселенням та адаптацією в нових умовах, 7 разів я переїжджала мене міста та квартири.


                       
                    </p>
                    <p class="about-p"> 
                        <br>Я провела понад 1000 заходів, тренінгів та навчань, понад 3000 тис. особистих консультацій.
                        <br>Сьогодні я повністю присвятила свою професійну сферу життя, психології та гештальт-терапії.  <br>Веду приватну практику. Проводжу Індивідуальну терапію, парну(сімейну) терапію, а також є провідною терапевтичною групою. Я постійно навчаюсь підвищую свою кваліфікацію, удосконалюю професійні навички. У своїй роботі завжди шукаю індивідуальний підхід до кожного клієнта. <br>Вірю — у будь-якій людині є потенціал для розвитку.
                        <br>Запрошую на особисті консультації, а також на парну (сімейну) терапію та групову терапію.
                    </p>
                </div>
                <div class="col">
                    <img class="img-fluid img-thumbnail img-about" src="{% static 'clinicapp/images/IMG_6346.JPG' %}" alt="">
                    
                </div>
            </div>
        </div>
    {% endblock %}
</body>
</html>