{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}
    {% endblock %}

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <link rel="stylesheet" href="{% static 'clinicapp/css/style.css' %}">

    <script defer src="{% static 'clinicapp/js/header.js' %}"></script>
    <script defer src="{% static 'clinicapp/js/main.js' %}"></script>
    <script defer src="{% static 'clinicapp/js/jquery-3.7.1.min.js' %}"></script>
    <script defer src="{% static 'clinicapp/js/ajax.js' %}"></script>
    <!-- <script defer src="{% static 'clinicapp/js/footer.js' %}"></script> -->
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn">
            <i class="fa fa-bars"></i>
        </label>
        <a class="logo" href="{% url 'main' %}">
            Ярослава Тимченко
        </a>

        <!-- <ion-icon class="burger" name="menu-outline"></ion-icon> -->

        <ul>
            <li><a class="link" href="{% url 'about' %}">Про мене</a></li>
            <li><a class="link" href="{% url 'services' %}">Послуги та консультації</a></li>
            <li><a class="link" href="{% url 'contacts' %}">Контакти</a></li>
        </ul>
    </nav>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>


    <footer>
        <div class="footer-logo">
            <a href="{% url 'main' %}" class="logo">
                Ярослава Тимченко
            </a>
        </div>


        <ul class="footer-nav">
            <li><a href="{% url 'about' %}">Про мене</a></li>
            <li><a href="{% url 'services' %}">Послуги та консультації</a></li>
            <li><a href="{% url 'contacts' %}">Контакти</a></li>
        </ul>

        <div class="social">
            <a href="https://www.instagram.com/yaroslava_timchenko?igsh=MTNiOXR2cndtejQ3cA==" id="inst"><i class="fa fa-instagram"></i></a>
            <a href="https://www.facebook.com/Yaroslava.Tymchenko5" id="facebook"><i class="fa fa-facebook"></i></a>
        </div>
        <!-- <p>Номер телефону: +380981607852</p>
        <p>Телеграм: @yaroslava_psiholog</p>  -->
    </footer>

</body>
</html>