{% extends './base.html' %}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
        <title>Контактна інформація</title>
    {% endblock %}  
</head>
<body>
    {% block content %}
        <h1 class="contact-h1">Контактна інформація</h1>
        <div class="img-div">
            <img class= "contact-img" id = "contact-img1" src="{% static 'clinicapp/images/IMG_6303.JPG' %}" alt="">
            <img class= "contact-img" src="{% static 'clinicapp/images/IMG_8420.JPG' %}" alt="">
            <img class= "contact-img" src="{% static 'clinicapp/images/IMG_6344.JPG' %}" alt="">
            <img class= "contact-img" src="{% static 'clinicapp/images/IMG_6346.JPG' %}" alt="">     
        </div>

        <div class="icons">
            <a href="https://www.instagram.com/yaroslava_timchenko/?igsh=MTNiOXR2cndtejQ3cA%3D%3D"><img class= "logo-app"  src="{% static 'clinicapp/images/icons8-instagram.svg' %}" alt=""></a>
            <a href="https://www.facebook.com/Yaroslava.Tymchenko5"><img class= "logo-app" src="{% static 'clinicapp/images/icons8-facebook.svg' %}" alt=""></a>
            <a href="https://t.me/yaroslava_psiholog">
                <img id="tg-logo" class="logo-app" src="{% static 'clinicapp/images/Telegram_logo.svg.png' %}" alt="">
            </a> 
        </div>

        <p class="contact-p">ФОП Тимченко Ярослава  Вячеславовна <br>ЄДРПОУ: 2976901929</p>
        <p class="contact-p">тел: +380981607852<br>+380506839151</p>

    {% endblock %}
</body>
</html>